<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<!-- Permissions -->
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.INTERNET" />

<!-- Storage permissions for older Android versions -->
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />

<!-- Android 13+ -->
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


<application
    android:label="DocScanner"
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize"
        android:grantUriPermissions="true">

        <!-- Flutter Theme -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />


        <!-- ================================ -->
        <!-- APP LAUNCHER -->
        <!-- ================================ -->

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        <!-- ================================ -->
        <!-- OPEN PDF / DOC / DOCX / PPT / PPTX -->
        <!-- ================================ -->

        <intent-filter>

            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />


            <!-- PDF -->
            <data
                android:scheme="content"
                android:mimeType="application/pdf" />

            <data
                android:scheme="file"
                android:mimeType="application/pdf" />


            <!-- DOC -->
            <data
                android:scheme="content"
                android:mimeType="application/msword" />

            <data
                android:scheme="file"
                android:mimeType="application/msword" />


            <!-- DOCX -->
            <data
                android:scheme="content"
                android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

            <data
                android:scheme="file"
                android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />


            <!-- PPT -->
            <data
                android:scheme="content"
                android:mimeType="application/vnd.ms-powerpoint" />

            <data
                android:scheme="file"
                android:mimeType="application/vnd.ms-powerpoint" />


            <!-- PPTX -->
            <data
                android:scheme="content"
                android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />

            <data
                android:scheme="file"
                android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />

        </intent-filter>


    </activity>


    <!-- Flutter embedding -->
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />

    <!-- ================================ -->
    <!-- GOOGLE CODE SCANNER: let Play services pre-download the -->
    <!-- scanner module at install time instead of on first scan. -->
    <!-- https://developers.google.com/ml-kit/vision/barcode-scanning/code-scanner -->
    <!-- ================================ -->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode_ui" />

</application>


<!-- Android package visibility -->
<queries>

    <intent>
        <action android:name="android.intent.action.PROCESS_TEXT" />

        <data android:mimeType="text/plain" />
    </intent>

</queries>

</manifest>
